.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.nav {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.title {
    color: rgb(241, 10, 10);
    font-weight: 900;
}