button {
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: none; 
  cursor: pointer;
}

.App {
  text-align: center;
  font-family: sans-serif;
  font: menu;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cardContent {
  padding-bottom: 30px;
  width: 70%;
  border: solid;
  border-radius: 10px;
  border-color: gray;
}

.modalHeaderWrapper {
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px ;
  align-items: end;
}

.title {
  font-size: 20px;
  font-weight: bolder;
}

.burgerIcon {
  width: 15px;
}

.line {
  border-bottom: 1px solid rgb(171, 171, 171);
}

.modalBody {
  padding: 0 20px;
}

.btnContaier {
  display: flex;
  justify-content: center;
}

.newItemBtn {
  background-color: rgb(241, 10, 10);
  padding: 10px 40px;
  margin-top: 50px;
  box-shadow: 0px 5px 5px gray;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .line {
      margin-left: -20px;
      margin-right: -20px;
  }
  .cardContent {
    width: 90%;
  }
}